<header>
    <div class="w-100 py-2 bg-primary">
        <div class="row">
            <div class="col-10">
                <h1 class="text-white text-center">Chat App</h1>
            </div>
            <div class="col">
                <button class="btn btn-danger" id="logout-btn" hidden>Logout</button>
            </div>
        </div>
    </div>
</header>