<div class="container">
  <div class=" m-auto p-2 bg-primary text-white border mt-5" style="width: 35%;">
    <div class="p-4">
    <h1>Join</h1>
    <form id="chat-join-form">
      <label>Room</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Room Name" id="room-name">
        <div class="input-group-append">
            <select class="input-group-text bg-danger text-white" id="select-room">
                <option value="">Select Room</option>
                <option value="News">News</option>
                <option value="Nodejs">Nodejs</option>
                <option value="Covid">Covid</option>
                <option value="Python">Python</option>
            </select>
        </div>
      </div>
      <!-- <input type="text" name="room" placeholder="Room" id="room-name" required> -->
      <button id="join_btn" class="btn btn-danger w-100">Join</button>
    </form>
</div>
  </div>
</div>
